/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

/*





[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}*/

#main, [ui-view="main"]{
  background: white;
  height: 100%;
}

*{
  font-family: "Proxima Nova";

}


.decorateText{
  margin: 0;
  padding: 0;
  text-shadow: rgba(0, 0, 0, 0.36) 2px 2px 2px;

}

.yellow{
  color: #d8bb0c;
}

.white{
  color: white;
}

.red{
  color: red;
}



// Truncate Text:
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



// Global COntrolls
//Brand Button\

body{


}


.has-bkg-img{
  transition: all .3s;
  background-size: cover ;
  background-repeat:no-repeat;
}

.bkg-img-top{
  background-position: center top !important;
}


// disable things:
*[disabled='disabled']{
  -webkit-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
  cursor: not-allowed !important;
}

