.clear{
  display: block;
  position: absolute;
  top: 43%;
  left: 10%;
  right: 10%;
}

.hero-container{
  background-color: rgba(45, 46, 57, 1);
    background-image: url('../assets/images/heroImage.png');
    background-color: #1c1d2a;


  .logo {
    background-image: url("../assets/images/LOGO.png");
    background-size: contain;
    background-position: center;
    min-width: 200px;
    width: 100%;
  }
}

.tab-container{
  background-color: rgba(20, 21, 35, 0.96) !important;
}

.divider{
  background-size: cover;
  background-color: rgba(82, 83, 102, 0.85);
}

.redDiv{
  width: 80%;
  border-top: 1px solid red;
}

btn{
  border-bottom: 4px solid white;
  margin: 0 5px 0 5px;

  span{
    color: rgba(255, 255, 255, 0.87);
  }

  &:hover{
    span{color: white;}
  }
}


