.clear{
  display: block;
  position: absolute;
}

.hero-container{
  background-color: rgb(45, 46, 57);
    background-image: url('../assets/images/heroImage.png');
    background-color: #1c1d2a;


  .logo {
    background-image: url("../assets/images/LOGO.png");
    background-size: contain;
    background-position: center;
    min-width: 200px;
    width: 100%;
    mix-blend-mode: screen;
  }
}

.tab-container{
  background-color: rgba(20, 21, 35, 1) !important;
  left:0;
  right:0;
  top:50%;
}

.divider{
  background-size: cover;
  background-color: rgba(82, 83, 102, 0.85);
  background-image: url('../assets/images/LOGO.png');
  background-size: cover;
  background-color: #262730;
  background-position: 0px -320px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  -webkit-background-blend-mode: overlay, overlay;

}

.mp-toolbar{

  background-color: #4e4f62;
  height: 80px;
  margin: 0;
  padding: 0;

  border-bottom: 15px solid #141523;
  border-top: 2px solid #ffcb00;



}

.redDiv{

  border-bottom: 1px solid red;
  margin-bottom:40px;
}

btn{
  border-radius: 0px;
  box-sizing: border-box;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: none;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 100%;
  background: transparent;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-family: "Proxima Nova";
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);




  span{
    color: rgba(255, 255, 255, 0.87);
  }

  &:hover{
    span{color: white;}


    &:before {
      background: rgba(45, 46, 57, 0.73);
      width: 110%;
      position: absolute;
      left: 0;
      right: 0;
      top: 40px;
      bottom: 15px;
      zoom:1;
    }
  }



  &:before {
    transition: all .2s;
    content: "";
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: rgba(255, 255, 255, 0.3);
    width: 110%;
    position: absolute;
    left: 0px;
    right: 0;
    top: 0px;
    bottom: 65px;

  }
}


